@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

a {
  color: #666;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #c1134e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  margin: 0 auto;
  line-height: 1.2;
  font-family: "Roboto Slab", serif;
}

header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
header navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header navbar .title a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
header navbar .nav-links {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 13px;
  align-items: center;
}
header navbar .nav-links .more {
  background-color: #e91e63;
  border: none;
  padding: 18px 25px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}
header navbar .nav-links .more:hover {
  color: rgba(255, 255, 255, 0.5);
  z-index: 4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
header navbar .nav-links:hover {
  color: #c1134e;
}
header navbar a {
  color: #666;
  font-weight: 200;
}
header navbar a:hover {
  color: #e91e63;
}

main {
  margin-top: 20px;
  min-height: calc(100vh - 150px);
}

.float-wrapper {
  background-color: #fff;
  width: 97%;
  z-index: 1;
  border: 0px solid rgba(0, 0, 0, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
footer .footer-content {
  max-width: 1200px;
  margin: 10px auto 0;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
}
footer .footer-content .footer-links {
  display: flex;
  padding-left: 15px;
  gap: 20px;
}
footer .footer-content .footer-links a {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
}
footer .footer-content .footer-links a:hover {
  opacity: 1;
}
footer .footer-content .credits {
  opacity: 0.8;
  font-size: 14px;
}

.button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  header navbar {
    flex-direction: column;
    gap: 15px;
  }
  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.banner {
  background: linear-gradient(45deg, #a81d84 0, #ea396f 100%);
  color: #fff;
  padding: 115px 0;
  text-align: center;
  position: relative;
  top: 50px;
}
.banner h1 {
  color: #fff;
  font-size: 45px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.float-wrapper {
  top: -50px;
}

.content-wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  gap: 40px;
}
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
}

.single-post-wrap {
  flex: 2;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}
.single-post-wrap h1 {
  font-size: 32px;
  margin: 30px 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.single-post-wrap h2 {
  font-size: 28px;
  margin: 30px 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.single-post-wrap h3 {
  font-size: 24px;
  margin: 30px 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.single-post-wrap h4 {
  font-size: 20px;
  margin: 30px 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.single-post-wrap h5 {
  font-size: 18px;
  margin: 30px 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.single-post-wrap h6 {
  font-size: 16px;
  margin: 30px 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.single-post-wrap p {
  margin-bottom: 20px;
}
.single-post-wrap hr {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
  margin: 30px 0;
}
.single-post-wrap ul,
.single-post-wrap ol {
  margin-bottom: 20px;
  padding-left: 20px;
}
.single-post-wrap table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.single-post-wrap table th {
  padding: 10px;
  text-align: left;
}
.single-post-wrap table td {
  border-top: 1px solid #e0e0e0;
  padding: 10px;
  text-align: left;
}
.single-post-wrap table tr:nth-child(3) {
  border-bottom: 1px solid #fff;
}
.single-post-wrap blockquote {
  border-left: 4px solid #e91e63;
  padding-left: 20px;
  margin: 20px 0;
  font-style: italic;
  color: #999;
}
.single-post-wrap pre {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 3px;
  overflow-x: auto;
  margin-bottom: 20px;
}
.single-post-wrap .form-group {
  margin-bottom: 20px;
}
.single-post-wrap .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.single-post-wrap .form-group .form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.3s ease-in-out;
}
.single-post-wrap .form-group .form-control:focus {
  border-color: #e91e63;
  outline: none;
  box-shadow: 0 0 0 2px rgba(233, 30, 99, 0.2);
}
.single-post-wrap .form-group .form-control input {
  border: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
}
.single-post-wrap .button {
  margin-right: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.blog-info-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}
.blog-info-wrapper > div {
  min-width: 200px;
  display: flex;
}
.blog-info-wrapper > div div {
  text-align: left;
}
.blog-info-wrapper > div h5 {
  margin: 0 10px 0 0;
  color: #333;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.blog-info-wrapper > div ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.blog-info-wrapper > div ul li {
  margin: 0 5px;
  font-size: 12px;
  background-color: #e91e63;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-info-wrapper > div ul li a {
  color: #fff;
  margin: 0;
}
.blog-info-wrapper > div ul li a:hover {
  color: #e91e63;
}
.blog-info-wrapper > div .tags-wrapper ul li {
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0);
}
.blog-info-wrapper > div .tags-wrapper ul li a {
  color: #e91e63;
}
.blog-info-wrapper > div .tags-wrapper ul li a:hover {
  color: rgba(168, 29, 132, 0.8);
}
.blog-info-wrapper .share-wrapper {
  display: flex;
  gap: 10px;
}
.blog-info-wrapper .share-wrapper button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.blog-info-wrapper .share-wrapper .facebook {
  background-color: #3b5998;
  color: #fff;
}
.blog-info-wrapper .share-wrapper .twitter {
  background-color: black;
  color: #fff;
}
.blog-info-wrapper .share-wrapper .email {
  background-color: gray;
  color: #fff;
}

h1 {
  text-align: center;
}

.related-posts-wrapper {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}
.related-posts-wrapper > div {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 250px;
}
.related-posts-wrapper > div h4 {
  padding: 0 20px 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.related-posts-wrapper > div h4 a {
  color: #a81d84;
  text-transform: uppercase;
}
.related-posts-wrapper > div h4 a:hover {
  color: #e91e63;
}
.related-posts-wrapper > div h4 b {
  font-weight: 900;
}
.related-posts-wrapper h3 {
  padding: 0 20px;
  font-size: 20px;
  margin-bottom: 15px;
}
.related-posts-wrapper h3 a {
  color: #666;
}
.related-posts-wrapper h3 a:hover {
  color: #e91e63;
}
.related-posts-wrapper p {
  padding: 0 20px;
  color: #999;
  font-weight: 300;
}
.related-posts-wrapper a[href*=Read] {
  display: inline-block;
  padding: 0 20px 20px;
  font-weight: 500;
}/*# sourceMappingURL=elements.css.map */