@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

a {
  color: #666;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #c1134e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  margin: 0 auto;
  line-height: 1.2;
  font-family: "Roboto Slab", serif;
}

header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
header navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header navbar .title {
  padding: 8px 0;
}
header navbar .title a {
  font-size: 18px;
  font-weight: 300;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}
header navbar .nav-links {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 13px;
  align-items: center;
}
header navbar .nav-links button {
  background-color: #e91e63;
  border: none;
  padding: 18px 25px;
  border-radius: 30px;
}
header navbar .nav-links button a {
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}
header navbar .nav-links button a:hover {
  background-color: #c1134e;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
header navbar .nav-links a {
  color: #666;
  font-weight: 200;
}
header navbar .nav-links a:hover {
  color: #e91e63;
}

main {
  margin-top: 70px;
  min-height: calc(100vh - 150px);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
footer .footer-content {
  max-width: 1200px;
  margin: 10px auto 0;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
}
footer .footer-content .footer-links {
  display: flex;
  padding-left: 15px;
  gap: 20px;
}
footer .footer-content .footer-links a {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
}
footer .footer-content .footer-links a:hover {
  opacity: 1;
}
footer .footer-content .credits {
  opacity: 0.8;
  font-size: 14px;
}

.button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #c1134e;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  header navbar {
    flex-direction: column;
    gap: 15px;
  }
  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero-section {
  position: relative;
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero-section .hero-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/parallax.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hero-section .hero-text {
  max-width: 800px;
  padding: 0 20px;
}
.hero-section .hero-text h1 {
  font-size: 67px;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.hero-section .hero-text p {
  font-size: 20px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto Slab", serif;
}
.hero-section .hero-text .button {
  font-size: 13px;
  padding: 12px 30px;
  font-weight: 200;
}

.mission-statement {
  padding: 80px 0;
  text-align: center;
  background-color: #fff;
}
.mission-statement h2 {
  font-size: 36px;
  margin-bottom: 60px;
}
.mission-statement .feats {
  display: flex;
}
.mission-statement .feats > div {
  max-width: 370px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.mission-statement .feats > div img {
  max-width: 70px;
  height: auto;
}
.mission-statement .feats > div img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.mission-statement .feats > div h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.mission-statement .feats > div p {
  color: #999;
}

.about-section {
  padding: 60px 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/slider1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}
.about-section p {
  max-width: 700px;
  color: #fff;
}
.about-section img {
  max-width: 530px;
  min-width: 304px;
  height: auto;
}

.blog-section {
  padding: 80px 0;
  background-color: #fff;
  text-align: center;
}
.blog-section .blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-section .blog-posts > div {
  max-width: 450px;
  min-width: 200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.blog-section .blog-posts > div h4 {
  padding: 15px 20px 0;
  font-size: 14px;
  color: #a81d84;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.blog-section .blog-posts > div h4 a {
  color: #a81d84;
}
.blog-section .blog-posts > div h4 a:hover {
  color: #e91e63;
}
.blog-section .blog-posts h3 {
  padding: 0 20px;
  font-size: 20px;
  margin-bottom: 15px;
}
.blog-section .blog-posts h3 a {
  color: #666;
}
.blog-section .blog-posts h3 a:hover {
  color: #e91e63;
}
.blog-section .blog-posts p {
  padding: 0 20px 20px;
  color: #999;
}
.blog-section .blog-posts a[href*=Read] {
  display: inline-block;
  padding: 0 20px 20px;
  font-weight: 500;
}

.contact-section {
  padding: 60px 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/slider1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}
.contact-section h2 {
  font-size: 40px;
  margin: 0 auto 20px;
  color: #fff;
}
.contact-section > div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.contact-section > div i {
  font-size: 35px;
  margin: 15px 10px 0 0;
}
.contact-section > div h4 {
  font-size: 20px;
  margin: 20px 0;
  color: #fff;
}
.contact-section > div p {
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .mission-statement {
    padding: 80px 0;
    text-align: center;
    background-color: #fff;
  }
  .mission-statement h2 {
    font-size: 36px;
    margin-bottom: 60px;
  }
  .mission-statement > div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
  }
  .mission-statement > div img {
    max-width: 70px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  .mission-statement > div img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  .mission-statement > div h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .mission-statement > div p {
    color: #999;
  }
}
.about-section {
  padding: 60px 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/slider1.jpg");
  background-size: cover;
  background-position: center;
}
.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}
.about-section p {
  max-width: 700px;
  color: #fff;
}
.about-section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=index.css.map */